body {
    margin: 0px;
    padding: 0px;
    background-color: #bfbfbf;
}

#main {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}

#logoSection {
    height: 100%;
    width: 50%;
    background-color: #fcfcfc;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 999;
}

#logoSection img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
}

#menuSection {
    height: 100%;
    width: 50%;
    background-color: #f1f1f1;
    position: absolute;
    left: 50%;
}

#menuSection ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 30%;
    left: -1%;
}

#menuSection ul li {
    height: 100px;
    width: 350px;
    font-family: arial black;
    font-size: 60px;
    line-height: 100px;
    cursor: pointer;
}

.menu {
    height: 100px;
    width: 0px;
    background-color: #bfbfbf;
    display: flex;
    position: absolute;
    left: -50%;
    cursor: pointer;
    pointer-events: none;
    transition: all .5s;
}

.rotate {
    pointer-events: none;
}

#menuSection ul li:hover .menu {
    width: 400px;
    border-radius: 20px;
}

#openMenu,
#closeMenu {
    height: 100px;
    width: 100px;
    background-color: #737373;
    position: fixed;
    border-radius: 15px;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
}

#closeMenu {
    left: 100%;
}

#closeMenu img,
#openMenu img {
    position: relative;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#closeMenu:hover,
#openMenu:hover {

    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.4);

}

#projectSec {
    font-family: arial black;
    text-align: center;
}


#mathSec, #textSec,#conceptSec {
    font-family: arial black;
    border-left: 3px solid #4d4d4d;
    border-bottom: 3px solid #4d4d4d;
    background-color: lightgrey;
    padding-left: 7%;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.4);
}

#mathSec h3, #textSec h3,#conceptSec h3 {
    text-align: center;
}

#mathSec ul, #textSec ul,#conceptSec ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mathSec li, #textSec li,#conceptSec li{
    float: left;
}

#mathSec li a, #textSec li a,#conceptSec li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#mathSec li a:hover, #textSec li a:hover,#conceptSec li a:hover {
    background-color: white;
    border-radius: 15px;
}