html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Abel";
    position: relative;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 5
}

h2,
h3 {
    text-align: center;
}


/*navbar css*/

#navbar {
    text-align: left;
    opacity: 0.8;
    position: fixed;
    width: 100vw;
    background-color: black;
    z-index: 1;

}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#navbar li {
    display: inline;
    padding: 50px;
    font-size: 35px;
    color: white;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-top: 1px;
}


#navbar li:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-top: 1px;
    opacity: 1;
}

#openMenu {
    height: 50px;
    width: 50px;
    background-color: black;
    position: fixed;
    border-radius: 15px;
    top: 3%;
    left: -20%;
    transform: translateY(-50%);
    z-index: 999;
    opacity: 0.8;
    cursor: pointer;

}

#closeMenu {
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 93%;
    height: 100%;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
}

#openMenu img,
#closeMenu img {
    position: relative;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*pages css*/

.pages {
    height: 100vh;
    width: 100vw;
    padding: none;
}

/*home screen css*/

#home {
    top: 0;
    background-image: url("images/home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#home h1 {
    font-size: 400%;
    top: 30%;
    color: white;
    text-shadow: 2px 2px 3px black;
}


/*about css*/

#about {

    position: relative;
    top: 0;
    background-color: whitesmoke;
}

#about h1 {
    font-size: 40px;
    text-align: center;
}

#about h1,
#contact h1 {
    font-size: 40px;
    text-align: center;
}

#about h3 {
    font-size: 20px;
    text-align: center;
    color: #a94dff;
}


.thirds {
    width: 33%;
    text-align: center;
    float: left;
}

.thirds h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #a94dff;
}

.thirds img {
    height: 100px;
    width: 100px;
}


#aboutBtn {
    text-decoration: none;
    text-align: center;
    background-color: red;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
}

#aboutBtn:hover {
    background-color: #990000;
}

/*projects css*/

#projects {
    position: relative;
    top: 0;
    background-color: #a94dff;
    ;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
}

#gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    position: relative;
    height: 250px;
    width: 350px;
}

.image:before {
    content: '';
    height: 50px;
    width: 50px;
    background-color: #64C47D;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}

.image:after {
    content: '';
    height: 50px;
    width: 50px;
    background-color: #64C47D;
    position: absolute;
    top: 210px;
    left: 310px;
    z-index: -1;
}

.image:hover {
    cursor: pointer;
}

.image img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s;
}

.image:hover img {
    height: 95%;
    width: 95%;
}

/*contact css*/

#contact {
    position: relative;
    top: 0;
    background-color: whitesmoke;
}

#contact h2 {
    color: #a94dff;
    ;
}

.icons {
    height: 20px;
}

#contactImg img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#formDiv {
    margin: auto;
    width: 50%;
    text-align: center;
}

#media {
    margin: auto;
    width: 10%;
}

/*standard mobile css*/

@media only screen and (max-width: 600px) {
    #navbar {
        width: 100%;

    }

    #navbar li {
        font-size: 25px;

    }

    #closeMenu img {
        position: relative;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .thirds img {
        width: 50%;
    }


}
