ul 
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  transform: rotate(180deg);
}

ul > li 
{
    transform: rotate(-180deg);
}

.peekObj
{
	text-align: center;
	
}

#peekObj
{
	height: 150px;
    width: 200px;
	
	display: block;
    margin: 0 auto;
}